# ROOT Specific
TrkCorr_Mar15_Iterative_*
corrections.tar
*.root
*.png
*.pdf
*~
*.tgz
.sync-config.cson

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
