# ignore files without extensions
*
!*.*
!*/

# condor stuff
*.condor
*.log
*.err
*.out

# ROOT Specific
TrkCorr_Jun7_Iterative_*
TrkCorr_Mar15_Iterative_*
Corrections/
corrections.tar
*.root
*.root*
*.png
*.pdf
*~
*.tgz
.sync-config.cson
plot2ff
plot_ff
oldcode/
html
plot_ff_ratio
syst/
trkcorr/
papermacros/
plot_data_mc_ff
v2syst/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.swp
